$primary-color: #8675a9;
$secondary-color: #82c4c3;
$option-color: #efbbcf;
$link-color: #c3aed6;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: $primary-color;
}

.container {
	text-align: center;
}

option{
	background: $option-color;
}

a {
	color: $link-color;
}

a:hover {
	color: $secondary-color;
}

.btn {
	background-color: $secondary-color;
}

.btn:hover {
	background-color: $link-color;
}

