$primary-color: #68b0ab;
$secondary-color: #82c4c3;
$option-color: #8fc0a9;
$link-color: #8675a9;
$tab-color: #776d8a;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
}

ul, ol {
	text-align: left;
}


.centered {
	align-items: center;
	justify-content: center;
}


